/* [project]/apps/research/src/styles/main.scss.css [app-client] (css) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: ABC Monument Grotesk;
  src: url("/assets/fonts/ABC-Monument-Grotesk-Variable-2.001.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ABC Repro;
  src: url("/assets/fonts/ABC-ReproVariable-Regular.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ABC Repro Mono;
  src: url("/assets/fonts/ABCReproMonoVariable-Regular.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

.display {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
}

.subtitle-1 {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.body-1 {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.label-1 {
  font-family: ABC Repro, sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1rem;
}

.label-1-strong {
  font-family: ABC Repro, sans-serif;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
}

.caption-1 {
  letter-spacing: .01em;
  font-family: ABC Repro, sans-serif;
  font-size: .78125rem;
  font-weight: 400;
  line-height: 1.125rem;
}

[data-theme="dark"] {
  --c-primary: #fff;
  --c-on-primary: #000;
  --c-on-surface: #edecec;
  --c-on-surface-secondary: #939393;
  --c-on-surface-subtle: #3a3b3b;
  --c-surface-bg: #14120b;
  --c-container-0: #272727;
  --c-debug: red;
}

[data-theme="light"] {
  --c-on-surface: #14120b;
  --c-surface-bg: #14120b;
  --c-on-surface-subtle: #8f8f8f;
}

.usection {
  color: var(--c-on-surface);
  background-color: var(--c-surface-bg);
}

.ucontainer {
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  display: grid;
}

.umx {
  margin: 0 10px;
}

.usection-spacing-sm {
  padding-top: 16px;
}

.usection-spacing-md {
  padding-top: 24px;
}

.usection-spacing-lg {
  padding-top: 48px;
}

.usection-spacing-xl {
  padding-top: 96px;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--c-surface-bg);
}

body ::selection {
  color: var(--c-surface-bg);
  background: var(--c-on-surface);
}

a {
  color: inherit;
  text-decoration: none;
}

button, input[type="submit"], input[type="reset"] {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: none;
  border: none;
  padding: 0;
  display: block;
}

img, svg, video, canvas {
  display: block;
}

textarea:focus, input:focus, textarea, input {
  outline: none;
}

sup {
  margin-left: .1em;
  position: relative;
  top: .1em;
}

/*# sourceMappingURL=apps_research_src_styles_main_scss_82bd2ddf.css.map*/