/* [project]/apps/research/src/components/SMainGridA.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: ABC Monument Grotesk;
  src: url("/assets/fonts/ABC-Monument-Grotesk-Variable-2.001.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ABC Repro;
  src: url("/assets/fonts/ABC-ReproVariable-Regular.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ABC Repro Mono;
  src: url("/assets/fonts/ABCReproMonoVariable-Regular.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

.SMainGridA-module-scss-module__8ESvqW__display {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
}

.SMainGridA-module-scss-module__8ESvqW__subtitle-1 {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.SMainGridA-module-scss-module__8ESvqW__body-1 {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.SMainGridA-module-scss-module__8ESvqW__label-1 {
  font-family: ABC Repro, sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1rem;
}

.SMainGridA-module-scss-module__8ESvqW__label-1-strong {
  font-family: ABC Repro, sans-serif;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
}

.SMainGridA-module-scss-module__8ESvqW__caption-1 {
  letter-spacing: .01em;
  font-family: ABC Repro, sans-serif;
  font-size: .78125rem;
  font-weight: 400;
  line-height: 1.125rem;
}

.SMainGridA-module-scss-module__8ESvqW__grid {
  position: relative;
  overflow: hidden;
}

/* [project]/apps/research/src/components/GridItem.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: ABC Monument Grotesk;
  src: url("/assets/fonts/ABC-Monument-Grotesk-Variable-2.001.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ABC Repro;
  src: url("/assets/fonts/ABC-ReproVariable-Regular.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ABC Repro Mono;
  src: url("/assets/fonts/ABCReproMonoVariable-Regular.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

.GridItem-module-scss-module__GczCMW__display {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
}

.GridItem-module-scss-module__GczCMW__subtitle-1 {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.GridItem-module-scss-module__GczCMW__body-1 {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.GridItem-module-scss-module__GczCMW__label-1 {
  font-family: ABC Repro, sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1rem;
}

.GridItem-module-scss-module__GczCMW__label-1-strong {
  font-family: ABC Repro, sans-serif;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
}

.GridItem-module-scss-module__GczCMW__caption-1 {
  letter-spacing: .01em;
  font-family: ABC Repro, sans-serif;
  font-size: .78125rem;
  font-weight: 400;
  line-height: 1.125rem;
}

.GridItem-module-scss-module__GczCMW__gridItem {
  flex-direction: column;
  margin-bottom: 16px;
  display: flex;
}

.GridItem-module-scss-module__GczCMW__overlaysContainer {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.GridItem-module-scss-module__GczCMW__overlaysContainer:hover .GridItem-module-scss-module__GczCMW__overlayBackground, .GridItem-module-scss-module__GczCMW__overlaysContainer:hover .GridItem-module-scss-module__GczCMW__overlayContent {
  opacity: 1;
}

.GridItem-module-scss-module__GczCMW__overlaysContainer .GridItem-module-scss-module__GczCMW__overlayContent {
  opacity: 0;
  flex-direction: column-reverse;
  padding: 16px;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.GridItem-module-scss-module__GczCMW__overlaysContainer .GridItem-module-scss-module__GczCMW__overlayContentBottom {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.GridItem-module-scss-module__GczCMW__overlaysContainer .GridItem-module-scss-module__GczCMW__overlayBackground {
  opacity: 0;
  background-color: rgba(0, 0, 0, .32);
  transition: opacity .3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.GridItem-module-scss-module__GczCMW__download {
  letter-spacing: .01em;
  color: var(--c-on-surface);
  background-color: #2368ea;
  border-radius: 9999px;
  align-items: center;
  gap: 2px;
  padding: 6px 12px 6px 6px;
  font-family: ABC Repro, sans-serif;
  font-size: .78125rem;
  font-weight: 400;
  line-height: 1.125rem;
  display: flex;
}

.GridItem-module-scss-module__GczCMW__imageContainer {
  background-color: var(--c-container-0);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.GridItem-module-scss-module__GczCMW__imageContainer video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.GridItem-module-scss-module__GczCMW__infoContainer {
  letter-spacing: .01em;
  justify-content: space-between;
  padding: 4px 0;
  font-family: ABC Repro, sans-serif;
  font-size: .78125rem;
  font-weight: 400;
  line-height: 1.125rem;
  display: flex;
}

.GridItem-module-scss-module__GczCMW__infoContainer .GridItem-module-scss-module__GczCMW__tags {
  color: var(--c-on-surface-secondary);
  text-transform: capitalize;
}

.GridItem-module-scss-module__GczCMW__infoContainer .GridItem-module-scss-module__GczCMW__index {
  color: var(--c-on-surface-subtle);
}

/* [project]/apps/research/src/components/UIButton.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: ABC Monument Grotesk;
  src: url("/assets/fonts/ABC-Monument-Grotesk-Variable-2.001.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ABC Repro;
  src: url("/assets/fonts/ABC-ReproVariable-Regular.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ABC Repro Mono;
  src: url("/assets/fonts/ABCReproMonoVariable-Regular.woff2") format("woff2-variations");
  font-weight: 300 500;
  font-style: normal;
  font-display: swap;
}

.UIButton-module-scss-module__4ihq4G__display {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
}

.UIButton-module-scss-module__4ihq4G__subtitle-1 {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.UIButton-module-scss-module__4ihq4G__body-1 {
  letter-spacing: -.01em;
  font-family: ABC Repro, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.UIButton-module-scss-module__4ihq4G__label-1 {
  font-family: ABC Repro, sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1rem;
}

.UIButton-module-scss-module__4ihq4G__label-1-strong {
  font-family: ABC Repro, sans-serif;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
}

.UIButton-module-scss-module__4ihq4G__caption-1 {
  letter-spacing: .01em;
  font-family: ABC Repro, sans-serif;
  font-size: .78125rem;
  font-weight: 400;
  line-height: 1.125rem;
}

.UIButton-module-scss-module__4ihq4G__button {
  background-color: var(--c-primary);
  color: var(--c-on-primary);
  border-radius: 4px;
  padding: 6px 10px;
  font-family: ABC Repro, sans-serif;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
  position: relative;
  overflow: hidden;
}

.UIButton-module-scss-module__4ihq4G__button:before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .1s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.UIButton-module-scss-module__4ihq4G__button:hover:before {
  content: "";
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=apps_research_src_components_6366dc51._.css.map*/