@use "@/styles/base/variables" as *;
@use "@/styles/base/typography" as *;

@use "@/styles/abstracts/animation" as *;
@use "@/styles/abstracts/respond" as *;


.section {
  // background-color: transparent;
  // color: var(--c-on-surface);


  position: fixed;

    top: 0;
  width: 100%;

  z-index: 99;



  &.isMenuOpen {
.container {
      @include respond(lg) {
        // height: 100dvh; // need to hide always
        height: 100vh;
      }
}

    .groupB {

      @include respond(lg) {
        display: flex;
      }
    
    }
        .groupC {
      @include respond(lg) {
        display: block;
      }
    }
}

}



.container {
    @include respond(lg) {
      display: flex;
      flex-direction: column;
    }

  .gridItem {
    @include title3;
    padding: $spacing-2 0;

    grid-row: 1;
    display: flex;
  }
  
      .groupA {
      grid-column: 1 / 13;
  
      align-items: center;
      justify-content: space-between;

      .menuButtonWrapper {
        display: none;

        @include respond(lg)  {
          display: block;
        }
      }

    }

    .groupB {
      grid-column: 7 / 13;

      
      gap: $spacing-4;
      
      align-items: center;
      justify-content: right;
  

            @include respond(lg) {
display: none;

   @include display1;
           flex: 1 0 auto;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        // justify-content: start;
        // gap: var(--spacing-8);
      }

    }

        // This is inner footer
    .groupC {
      display: none;
    }
}

.invert {
  filter: invert(1);
  background-color: transparent !important;
}

.link {
  color: var(--c-on-surface-subtle);

  &:hover {
    color: var(--c-on-surface);
  }
  transition: color $duration-standard;
}
