.menuButton {
    //   background-color: red;

  // Component geometry
  --button-size: 28px;
  --bar-w: 14px;
  --bar-h: 2px;
  --bar-offset: 4px;

  width: var(--button-size);
  height: var(--button-size);

  cursor: pointer;
  user-select: none;
  


  &.open {
    .bar {
      &:nth-child(1) {
        transform: translateY(0) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }

  .bar {
    display: block;

    position: absolute;
    translate: 50% -50%;
    // translate: 7px 0;

    width: var(--bar-w);
    height: var(--bar-h);
    background-color: var(--c-on-background);

    transition-property: transform;
    transition-duration: var(--duration-fast);
    transition-timing-function: ease-out;

    &:nth-child(1) {
      transform: translateY(calc(-1 * var(--bar-offset)));
    }

    &:nth-child(2) {
      transform: translateY(var(--bar-offset));
    }
  }
}
