@use "@/styles/abstracts/respond" as *;
@use "@/styles/base/typography" as *;

.intro {
     // Component geometry: reading measure
     --intro-measure: 640px;

     grid-column: span 12;

     max-width: var(--intro-measure);

     @include title3;

     .curation {
        // color: var(--c-on-surface-secondary);
        // background-color: red;
     }


}