@use "@/styles/base/typography" as *;


  .button {
  @include buttonText;
//   position: relative;

    background-color: var(--c-button-container);
    border-radius: 3px;

    // release: ease back over 300ms
    // transition: transform 500ms ease;

    box-shadow: inset 0px 0px 0.5px .5px rgba(255, 255, 255, .16);

filter: drop-shadow(0px 1px 2px rgb(0, 0, 0, .08));

  overflow: hidden;

    .buttonState {
    padding: 5px 6px;
  }

  &:hover {
        .buttonState {
        background-color: rgba(255, 255, 255, .16);
        }
  }

  &:active {
    // filter: drop-shadow(0px 0px 0px rgb(0, 0, 0, .08));
    //   transform: scale3d(0.98, 0.98, 0.98);
      
    // transition: transform 0ms; // press: snap instantly

    // transform: scale(0.97);
        //     .buttonState {
        // background-color: rgba(0, 0, 0, 0.05);
        // }
  }
  }





.primary {

}

.secondary {

}