.primary {
  color: var(--c-on-background-variant);

  &:hover {
    color: var(--c-on-background);
  }

  transition: color var(--duration-standard);

  // span {
  //     display: flex;

  // }
}

.secondary {
  color: var(--c-on-background);
}

.isActive {
  color: var(--c-on-background);
}

.debug {
  color: red;
}