/* [project]/apps/www/src/components/Header.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: Monument Grotesk;
  src: url("/fonts/ABC-Monument-Grotesk-Variable-2.001.woff2") format("woff2-variations");
  font-weight: 400 500;
  font-style: normal;
  font-display: swap;
}

.Header-module-scss-module__7nxqdq__display {
  letter-spacing: -.01em;
  font-family: Monument Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: 3rem;
  font-weight: 450;
  line-height: 3.125rem;
}

.Header-module-scss-module__7nxqdq__title1 {
  letter-spacing: -.01em;
  font-family: Monument Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: 1.75rem;
  font-weight: 450;
  line-height: 2.25rem;
}

.Header-module-scss-module__7nxqdq__subtitle-1 {
  letter-spacing: -.01em;
  font-family: Monument Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: 1.25rem;
  font-weight: 420;
  line-height: 1.75rem;
}

.Header-module-scss-module__7nxqdq__body-1 {
  letter-spacing: -.01em;
  font-family: Monument Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: .875rem;
  font-weight: 420;
  line-height: 1.25rem;
}

.Header-module-scss-module__7nxqdq__caption-1 {
  letter-spacing: .01em;
  font-family: Monument Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: .75rem;
  font-weight: 420;
  line-height: 1rem;
}

.Header-module-scss-module__7nxqdq__section {
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
}

.Header-module-scss-module__7nxqdq__container div {
  letter-spacing: -.01em;
  grid-row: 1;
  padding: 8px 0;
  font-family: Monument Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: 1.25rem;
  font-weight: 420;
  line-height: 1.75rem;
}

.Header-module-scss-module__7nxqdq__container div.Header-module-scss-module__7nxqdq__groupA {
  grid-column: 1 / 4;
  align-items: center;
  gap: 8px;
  display: flex;
}

.Header-module-scss-module__7nxqdq__container div.Header-module-scss-module__7nxqdq__groupB {
  grid-column: 3 / 4;
  align-items: center;
  display: flex;
}

.Header-module-scss-module__7nxqdq__container div.Header-module-scss-module__7nxqdq__groupC {
  grid-column: 4 / 13;
  align-items: center;
  display: flex;
}

.Header-module-scss-module__7nxqdq__container div.Header-module-scss-module__7nxqdq__groupD {
  grid-column: 9 / 13;
  justify-content: right;
  gap: 24px;
  display: flex;
}

.Header-module-scss-module__7nxqdq__invert {
  filter: invert();
  background-color: rgba(0, 0, 0, 0) !important;
}

.Header-module-scss-module__7nxqdq__link {
  color: var(--c-on-surface-subtle);
}

.Header-module-scss-module__7nxqdq__link:hover {
  color: var(--c-on-surface);
}

.Header-module-scss-module__7nxqdq__link {
  transition: color .33s;
}

/* [project]/apps/www/src/components/XLink.module.scss.module.css [app-client] (css) */
.XLink-module-scss-module__zaMqsa__primary {
  color: var(--c-on-surface-subtle);
}

.XLink-module-scss-module__zaMqsa__primary:hover {
  color: var(--c-on-surface);
}

.XLink-module-scss-module__zaMqsa__primary {
  transition: color .33s;
}

.XLink-module-scss-module__zaMqsa__secondary, .XLink-module-scss-module__zaMqsa__isActive {
  color: var(--c-on-surface);
}

.XLink-module-scss-module__zaMqsa__debug {
  color: var(--c-debug);
}

/*# sourceMappingURL=apps_www_src_components_7ea5e173._.css.map*/