/* [project]/apps/www/src/components/Header.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: Monument Grotesk;
  src: url("/fonts/ABC-Monument-Grotesk-Variable-2.001.woff2") format("woff2-variations");
  font-weight: 300 400 500;
  font-style: normal;
  font-display: swap;
}

.Header-module-scss-module__7nxqdq__display {
  letter-spacing: -.01em;
  font-family: Monument Grotesk;
  font-size: 3rem;
  font-weight: 450;
  line-height: 3.125rem;
}

.Header-module-scss-module__7nxqdq__title1 {
  letter-spacing: -.01em;
  font-family: Monument Grotesk;
  font-size: 1.75rem;
  font-weight: 450;
  line-height: 2.25rem;
}

.Header-module-scss-module__7nxqdq__subtitle-1 {
  letter-spacing: 0;
  font-family: Monument Grotesk;
  font-size: 1.3125rem;
  font-weight: 370;
  line-height: 1.75rem;
}

.Header-module-scss-module__7nxqdq__body-1 {
  letter-spacing: -.01em;
  font-family: Monument Grotesk;
  font-size: .875rem;
  font-weight: 420;
  line-height: 1.25rem;
}

.Header-module-scss-module__7nxqdq__caption-1 {
  letter-spacing: .01em;
  font-family: Monument Grotesk;
  font-size: .75rem;
  font-weight: 420;
  line-height: 1rem;
}

.Header-module-scss-module__7nxqdq__section {
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
}

.Header-module-scss-module__7nxqdq__container .Header-module-scss-module__7nxqdq__gridItem {
  letter-spacing: 0;
  grid-row: 1;
  padding: 8px 0;
  font-family: Monument Grotesk;
  font-size: 1.3125rem;
  font-weight: 370;
  line-height: 1.75rem;
  display: flex;
}

.Header-module-scss-module__7nxqdq__container .Header-module-scss-module__7nxqdq__groupA {
  grid-column: 1 / 13;
  justify-content: space-between;
  align-items: center;
}

.Header-module-scss-module__7nxqdq__container .Header-module-scss-module__7nxqdq__groupA .Header-module-scss-module__7nxqdq__menuButtonWrapper {
  display: none;
}

@media (max-width: 1024px) {
  .Header-module-scss-module__7nxqdq__container .Header-module-scss-module__7nxqdq__groupA .Header-module-scss-module__7nxqdq__menuButtonWrapper {
    display: block;
  }
}

.Header-module-scss-module__7nxqdq__container .Header-module-scss-module__7nxqdq__groupB {
  grid-column: 9 / 13;
  justify-content: right;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1024px) {
  .Header-module-scss-module__7nxqdq__container .Header-module-scss-module__7nxqdq__groupB {
    display: none;
  }
}

.Header-module-scss-module__7nxqdq__invert {
  filter: invert();
  background-color: rgba(0, 0, 0, 0) !important;
}

.Header-module-scss-module__7nxqdq__link {
  color: var(--c-on-surface-subtle);
}

.Header-module-scss-module__7nxqdq__link:hover {
  color: var(--c-on-surface);
}

.Header-module-scss-module__7nxqdq__link {
  transition: color .33s;
}

/* [project]/apps/www/src/components/XLink.module.scss.module.css [app-client] (css) */
.XLink-module-scss-module__zaMqsa__primary {
  color: var(--c-on-surface-subtle);
}

.XLink-module-scss-module__zaMqsa__primary:hover {
  color: var(--c-on-surface);
}

.XLink-module-scss-module__zaMqsa__primary {
  transition: color .33s;
}

.XLink-module-scss-module__zaMqsa__secondary, .XLink-module-scss-module__zaMqsa__isActive {
  color: var(--c-on-surface);
}

.XLink-module-scss-module__zaMqsa__debug {
  color: var(--c-debug);
}

/* [project]/apps/www/src/components/MenuButton.module.scss.module.css [app-client] (css) */
.MenuButton-module-scss-module__ZJdMjG__menuButton {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 28px;
  height: 28px;
}

.MenuButton-module-scss-module__ZJdMjG__menuButton.MenuButton-module-scss-module__ZJdMjG__open .MenuButton-module-scss-module__ZJdMjG__bar:first-child {
  transform: translateY(0)rotate(45deg);
}

.MenuButton-module-scss-module__ZJdMjG__menuButton.MenuButton-module-scss-module__ZJdMjG__open .MenuButton-module-scss-module__ZJdMjG__bar:nth-child(2) {
  transform: translateY(0)rotate(-45deg);
}

.MenuButton-module-scss-module__ZJdMjG__menuButton .MenuButton-module-scss-module__ZJdMjG__bar {
  background-color: var(--c-on-surface);
  width: 14px;
  height: 2px;
  transition-property: transform;
  transition-duration: .12s;
  transition-timing-function: ease-out;
  display: block;
  position: absolute;
  translate: 50% -50%;
}

.MenuButton-module-scss-module__ZJdMjG__menuButton .MenuButton-module-scss-module__ZJdMjG__bar:first-child {
  transform: translateY(-4px);
}

.MenuButton-module-scss-module__ZJdMjG__menuButton .MenuButton-module-scss-module__ZJdMjG__bar:nth-child(2) {
  transform: translateY(4px);
}

/*# sourceMappingURL=apps_www_src_components_1945c18e._.css.map*/