

.client {
    grid-row: 1;
    grid-column: 9 / 13;

    justify-self: end;
}
.projectName {

    grid-row: 1;
    grid-column: 1 / 13;
}

.projectYear {
    grid-row: 1;
    grid-column: 9 / 13;

    justify-self: end;
}

.assetFrame {
    background-color: var(--c-surface-container);
    grid-column: 1 / 13;


    border-radius: var(--frame-radius);
    overflow: hidden;


}

.projectHeader {

    grid-column: 1/13;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    // gap: --spacing-4;

    padding: var(--spacing-4);
    background-color: var(--c-surface-container);

    border-radius: var(--frame-radius);

    display: flex;
    justify-content: space-between;

}