html {
  font-size: 16px;
  // this fixes font size change when iOS switch from portrait to landscape
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  // color: var(--c-debug);
  // background-color: var(--c-debug);
  background-color: var(--c-background);

  // SELECTION COLORS
  //   ::-moz-selection { /* Code for Firefox */
  //   color: var(--c-background);
  //   background: var(--c-on-background);
  // }
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
}

img,
svg,
video,
canvas {
  display: block;
  // max-width: 100%;
  // height: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}
textarea,
input {
  outline: none;
}

sup {
  position: relative;
  margin-left: 0.1em;
  // top: -.1em;
  // top: -0.1em;
}

mux-player {
  display: block;
  --controls: none;

  width: 100%;
  height: 100%;

  // position: absolute;
  // inset: 0;
  // --media-object-fit: cover;

  // width: 100%;
  // height: 100%;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: var(--duration-slow);
  // animation: none;
}


/* Target the specific named group we just created */
::view-transition-group(toggle),
::view-transition-old(toggle),
::view-transition-new(toggle) {
  /* Disable the default crossfade animation */
  // animation: none;
  // display: none;
}





// ::view-transition-old(themeToggleKnob),
// ::view-transition-new(themeToggleKnob)  {
// //   display: none;          // discard the frozen "before" screenshot of the toggle
// // animation: none;        // no fade-in either — just show it
// animation-duration: var(--duration-standard);
// }

// VT pseudos inherit :root custom properties, so this stays in sync with the knob
// animation-duration: 2000ms;               /* debug speed */
// animation-timing-function: ease-in-out;  /* optional */

// ::view-transition {
//   pointer-events: none;
// }

// :root {
//   view-transition-name: none;
// }
