// Utility classes - Modern utility-first approach
@use "./variables" as *;
@use "@/styles/abstracts/respond" as *;

.has-menu-open {
    overflow-y: hidden;
    overscroll-behavior: none;
    touch-action: none;
    // background-color: red;
}


.usection {
  color: var(--c-on-surface);
  background-color: var(--c-surface-0);
}

.ucontainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $spacing-4;
  // gap: var(--spacing-4);
}

.umx {
  margin: 0 $spacing-4;
}

.usection-spacer-sm {
  margin-top: $spacing-4;
}

.usection-spacer-md {
  margin-top: 64px;
}

.usection-spacer-lg {
  margin-top: 128px;
      @include respond(lg) {
        margin-top: 96px;
    }
    
    @include respond(sm) {
        margin-top: 64px;
    }
}






