@use "@/styles/base/variables" as *;
@use "@/styles/base/typography" as *;

.section {
  // Override any inherited styles
  padding: 16px 0;

}

.container {
  //   display: block !important; // Override the grid system for masonry
  //   width: 100%;
//   background-color: gray;
  min-height: 1024px;
}

.grid {
  position: relative;
  overflow: hidden;
}

