@use "@/styles/base/variables" as *;
@use "@/styles/base/typography" as *;


.container {


    div {
        grid-row: 1;
        @include subtitle-1;
        padding: $spacing-4 0;
   
        &.groupA {
            grid-column: 1 / 4;
            display: flex;
            align-items: center;
            gap: $spacing-2;
            
        }
        &.groupB {
            grid-column: 3 / 4;
            display: flex;
            align-items: center;
            // justify-content: center;
        }
        &.groupC {
            grid-column: 4 / 13;
            display: flex;
            align-items: center;
        }
        &.groupD {
            grid-column: 4 / 13;
            display: flex;
            gap: $spacing-4;
            justify-content: right;
        }
    }

}