@use "@/styles/base/variables" as *;
@use "@/styles/base/typography" as *;

@use "@/styles/abstracts/animation" as *;
@use "@/styles/abstracts/respond" as *;


.section {
  // background-color: transparent;
  // color: var(--c-on-surface);


  position: fixed;

    top: 0;
  width: 100%;

  z-index: 99;
}

.container {
  .gridItem {
    @include subtitle-1;
    padding: $spacing-2 0;

    grid-row: 1;
    display: flex;
  }
  
      .groupA {
      grid-column: 1 / 13;
  
      align-items: center;
      justify-content: space-between;

      .menuButtonWrapper {
        display: none;

        @include respond(lg)  {
          display: block;
        }
      }

    }

    .groupB {
      grid-column: 9 / 13;

      align-items: center;
      
      gap: $spacing-4;

      justify-content: right;

      @include respond(lg) {
display: none;
      }

    }
}

.invert {
  filter: invert(1);
  background-color: transparent !important;
}

.link {
  color: var(--c-on-surface-subtle);

  &:hover {
    color: var(--c-on-surface);
  }
  transition: color $duration-standard;
}
